# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
taskProcessor
taskProcessor.exe

# Test binary
*.test

# Output of the go coverage tool
*.out

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
